In [1]:
import pandas as pd
import csv
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta
import numpy as np

In [23]:
str_filename = '334_sales.csv'

In [24]:
fh = open(str_filename)
csv_reader = csv.reader(fh)

In [25]:
csv_header = next(csv_reader)
csv_header

['block_time',
 'project_addresss',
 'eth_price',
 'usd_price',
 'link',
 'platform',
 'seller',
 'buyer']

In [26]:
fh.close()

In [27]:
df_sig = pd.read_csv(str_filename, header=None, skiprows=1, names=csv_header)
df_sig

,block_time,project_addresss,eth_price,usd_price,link,platform,seller,buyer
0,2022-07-28 16:35:42,ArtBlocks,2.05,NaN,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\x7abca,\x93c21
1,2022-07-28 16:35:26,ArtBlocks,2.00,NaN,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\x6ad24,\x93c21
2,2022-07-28 15:20:17,ArtBlocks,2.20,NaN,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\xcd949,\x9469c
3,2022-07-28 15:19:33,ArtBlocks,2.09,NaN,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\x8d6dc,\x9469c
4,2022-07-28 14:55:34,ArtBlocks,2.25,NaN,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\xacdc4,\x9469c
...,...,...,...,...,...,...,...,...
380,2022-07-13 17:05:39,ArtBlocks,3.80,4072.840,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\xf0269,\x8856d
381,2022-07-13 17:05:37,ArtBlocks,3.85,4126.430,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\xe80ef,\xb1270
382,2022-07-13 17:04:59,ArtBlocks,3.90,4180.020,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\x47f40,\x93c21
383,2022-07-13 17:04:59,ArtBlocks,3.99,4276.482,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\x97da2,\xd4be6
384,2022-07-13 17:04:34,ArtBlocks,3.88,4158.584,"<a href=""https://opensea.io/assets/0xa7d8d9ef8...",OpenSea,\x7914c,\x93c21

In [28]:
df_sig['Date'] = df_sig['block_time'].map(lambda x: datetime.strptime(str(x), '%Y-%m-%d %H:%M:%S'))
df_sig['Date']

0     2022-07-28 16:35:42
1     2022-07-28 16:35:26
2     2022-07-28 15:20:17
3     2022-07-28 15:19:33
4     2022-07-28 14:55:34
              ...
380   2022-07-13 17:05:39
381   2022-07-13 17:05:37
382   2022-07-13 17:04:59
383   2022-07-13 17:04:59
384   2022-07-13 17:04:34
Name: Date, Length: 385, dtype: datetime64[ns]

In [39]:
mintStart = datetime(2022,7,13,17,0,0)
endDate = datetime(2022,7,14,17,0,0)
df_new=df_sig.loc[(df_sig['Date'] <= endDate)]
x = df_new['Date'] - mintStart
x = (x.dt.total_seconds / 60)
y = df_sig['eth_price']
plt.plot(x, y)
plt.xlabel('Time')
plt.ylabel('eth_price(eth)')

NameError: name 'df' is not defined